<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="apimockery">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">Dto</directory>
            </exclude>
        </whitelist>
    </filter>
    <!-- Code coverage report, optional -->
    <logging>
        <log type="coverage-html" target="reports/unit/coverage"/>
        <log type="coverage-clover" target="reports/unit/clover.xml"/>
        <log type="junit" target="reports/unit/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>